body {
  margin: 10;
  H1 {
    font-family: "Arial", Helvetica, sans-serif;
  }
}

H1 {
  font-family: "Arial", Helvetica, sans-serif;
}

H2 {
  font-family: "Arial", Helvetica, sans-serif;
}

a {
  H1 {
    font-family: "Arial", Helvetica, sans-serif;
  }
}
